// Colors
$primary-strongcyan-color: hsl(171, 66%, 44%);
$primary-lightblue-color: hsl(233, 100%, 69%);
$neutral-darkgrayishblue-color: hsl(210, 10%, 33%);
$neutral-grayishblue-color: hsl(201, 11%, 66%);