// Reset

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Width

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

// Breaking points for media queries

$media-phone: 375px; // default
$media-tablet: 640px;
$media-desktop: 1024px;

// Typography

html,
button,
input {
  font-family: "Bai Jamjuree", sans-serif;
  color: $neutral-darkgrayishblue-color;
}

// Universal styles for elements

p {
  color: $neutral-grayishblue-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $neutral-darkgrayishblue-color;
}

%buttons {
  padding: 15px;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  background-color: $primary-lightblue-color;
  box-shadow: 5px 5px 15px rgba($primary-lightblue-color, $alpha: 0.5);
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1);
  }
  &:first-of-type {
    background-color: $primary-strongcyan-color;
    box-shadow: 5px 5px 15px rgba($primary-strongcyan-color, $alpha: 0.5);
  }
}